.directorSpeech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 9%;
  gap: 10rem;
  /* background: #e6f4fe; */
  background: #2424ba;
}

.directorSpeech > img {
  width: 370px;
  height: 370px;
  justify-self: center;
  border-radius: 5px;
}

.speech {
  padding: 2rem;
}

.speech > h1 {
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  background-image: linear-gradient(98.63deg, #ffffff 0%, #9b161b 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.speech > p {
  font-size: 1.7rem;
  line-height: 1.7;
  color: #eee;
  margin-bottom: 2.6rem;
}

.moreLink:link,
.moreLink:visited,
.moreLink:active {
  color: #fff;
  text-decoration: none;
}

.moreLink:hover {
  color: #fff;
}

@media (max-width: 1000px) {
  .directorSpeech {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 540px) {
  .directorSpeech > img {
    width: 300px;
    height: 300px;
  }

  .speech > h1 {
    font-size: 3rem;
    text-align: center;
  }

  .speech > p {
    text-align: justify;
  }
}
