.schools {
  padding: 5rem 9% 8rem;
  background: #e6f4fe;
}

.schools h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  text-align: center;
  padding-bottom: 4rem;
  background-image: linear-gradient(98.63deg, #2424ba 0%, #9b161b 100%);
  -webkit-background-clip: text;
  color: transparent;
}
