.faqContentSides {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 9%;
  gap: 5rem;
}

@media (max-width: 865px) {
  .faqContentSides {
    grid-template-columns: auto;
  }
}

@media (max-width: 619px) {
  .faqImgHeader h1 {
    font-size: 9rem;
  }
}
