.counterUp {
  padding: 5rem 0;
  padding-bottom: 5rem;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.icons-container .icons {
  background: #fcfcfc;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 2rem;
  gap: 0.5rem;
}

.icons-container .icons .icn {
  height: 3.5rem;
  width: 3.5rem;
  color: var(--blue);
  text-align: center;
}

.icons-container .icons .content span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-container .icons .content {
  position: relative;
}

.icons-container .icons .content p {
  margin-top: -1rem;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  color: var(--blue);
}

.add,
.percent,
.plus {
  position: absolute;
  top: 8px;
  font-size: 3rem;
  color: var(--blue);
}

.add {
  right: 25%;
}

.plus {
  right: 4%;
}

.percent {
  right: 10%;
}
