.snrImgHeader > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
  position: relative;
  z-index: -1;
}

@media (max-width: 462px) {
  .snrImgHeader h1 {
    font-size: 5rem !important ;
  }
}
