* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --blue: #5454f5;
  --light-blue: #7c8282;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --buttonBg: linear-gradient(98.63deg, #2424ba 0%, #9b161b 100%);
  --bread: linear-gradient(98.63deg, #131380 0%, #760c0f 100%);
}

a {
  text-decoration: none;
}

.btnButton {
  color: #fff;
  font-weight: 400;
  font-size: 1.7rem;
  background: var(--buttonBg);
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.btnButton:hover {
  border: 1px solid var(--light-blue);
  color: #000;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

/*///////////////////////////////////// */
/*********/ /* MEDIA QUERIES */ /*********/
/*///////////////////////////////////// */

@media (max-width: 1115px) {
  #navbar {
    display: none;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
